<div class="z-20 fixed top-0 left-0 w-full p-4">
  <button data-action="click->reveal#reveal">
    <div class="space-y-2">
      <div class="w-8 h-0.5 bg-gray-300"></div>
      <div class="w-8 h-0.5 bg-gray-300"></div>
      <div class="w-8 h-0.5 bg-gray-300"></div>
    </div>
  </button>
</div>
